/*body header {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    //background-color: #E8F8F5;
    //width: 800px;
    //margin: 30px auto;
}


header div {
    font-size: 20px;
   color: #0E6251;
}


.logo{
    font-weight: bolder;
}

.nav{

    position: relative;
    float: right;
    font-weight: bolder;
}*/


header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px; 
    background: #F4ECF7 ;   
    font-size: 15px;    
}

.title{
  padding: 20px 0;
   text-align: center;
   font-size: 25px;
   color:#1A237E;
 
}










